<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="HttpServiceLink" value="http://+:8080/CalculatorServiceSvc/"/>
    <add key="HttpServiceLinkUnderUser" value="desktop-644g20u\alvar"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding" maxConnections="1" openTimeout="00:30:00" closeTimeout="00:30:00" receiveTimeout="00:90:00" sendTimeout="00:90:00" />
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="mexBehavior" name="CalculatorService.Services.CalculatorServiceSvc">
        <endpoint address="mex" binding="basicHttpBinding"
            bindingConfiguration="" contract="CalculatorService.Services.ICalculatorServiceSvc" />
        <endpoint address="net.tcp://localhost:8764/CalculatorServiceSvc" binding="netTcpBinding"
            bindingConfiguration="NetTcpBinding" name="netTcp" contract="CalculatorService.Services.ICalculatorServiceSvc" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8765/CalculatorServiceSvc.svc" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  

  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>