<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding" maxConnections="1" openTimeout="00:30:00" closeTimeout="00:30:00" sendTimeout="00:59:00" />
            </netTcpBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="mexBehavior" name="CalculatorService.Services.CalculatorServiceSvc">
                <endpoint address="mex" binding="basicHttpBinding"
                    bindingConfiguration="" contract="CalculatorService.Services.ICalculatorServiceSvc" />
                <endpoint address="net.tcp://localhost:8764/CalculatorServiceSvc" binding="netTcpBinding"
                    bindingConfiguration="NetTcpBinding" name="netTcp" contract="CalculatorService.Services.ICalculatorServiceSvc" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8765/CalculatorServiceSvc.svc" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
  
</configuration>