<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
  </system.web>
  
  
  <!--<system.serviceModel>
    <services>
      <service name="CalculatorService.Services.CalculatorServiceSvc" behaviorConfiguration="ServiceBehavior">
        <endpoint address="CalculatorServiceSvc" binding="netTcpBinding" bindingConfiguration="BindingBehavior" contract="CalculatorService.Services.ICalculatorServiceSvc">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="basicHttpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8537/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="BindingBehavior" closeTimeout="12:59:00" openTimeout="12:59:00" receiveTimeout="12:59:00" sendTimeout="12:59:00" maxBufferPoolSize="1048576" maxReceivedMessageSize="1048576" maxBufferSize="1048576" maxConnections="1000" listenBacklog="1000" portSharingEnabled="false" transactionFlow="false">
          <security mode="None">
            <message clientCredentialType="None"/>
            <transport protectionLevel="None" clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentInstances="1000" maxConcurrentSessions="1000"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    --><!--<protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>--><!--    
    --><!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />--><!--
  </system.serviceModel>
  --><!--<system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    --><!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      --><!--
    <directoryBrowse enabled="true"/>
  </system.webServer>-->

</configuration>
